.conteiner{
    background:linear-gradient(to left bottom,rgb(161, 15, 206) 65%,rgb(245, 245, 47)) ;

}
.menu ul {
    display: flex;
    margin-right: 70px ;
    margin-left: 800px;
}
.menu ul li{
color: white;
list-style-type: none;
margin: 5px 15px;
font-size: 20px;
}
img{
    width: 200px;
    height: 200px;
    margin-top: 50px;
   margin-left: 700px;
   border-radius: 50%;
}
.menu{
    display: flex;
}
.center{
    display: flex;
}
h3{
    margin-left: 10px;
}
h1{
    margin-left: 20px;
    font-size: 60px;
color: white;
}
p{
    color: white;
   
}
h3{
    color: white;
}
h2{
    color: white;
    padding: 7px 15px;
    background:linear-gradient(to left bottom,rgb(161, 15, 206) 50%,rgb(245, 245, 47)) ;
    width: 150px;
    border-radius: 35px;
    text-align: center;
    
}
.title{
    margin-left: 100px;
}

